<div class="row">
  <div class="col-md-9">
    <%= image_tag(@event.picture_url, width: '100%') if @event.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @event.name %></p>
    <p><b>Description: </b><%= @event.description %></p>
    <p>
      <%= link_to 'Back', events_path %>
    </p>
  </div>
</div>